{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body -%}
<div class="col-sm-8 blog-main">
    <h1>Создание новой задачи </h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('task') }}">
            Back to the list
        </a>
    </li>
</ul>
    </div>
{% endblock %}
